.todo-item {
  background-color: #fff;
  border-radius: 3px;
  padding: 0.8rem;
  font-size: 1.35rem;
  margin-bottom: 1rem;
  box-shadow: 0px 0px 2px 0px #bfbfbf;
}

.todo-item.completed {
  text-decoration: line-through;
}
